@using EmailSystem.Domain.Models
<div class="row">
    <h1 class="display-5">@Email.GetFullName()</h1>
</div>
<div class="row justify-content-between">
        
    <div class="col-9">
        <EmailSenderComponent />
    </div>
    <div class="col-1">
        <button class="btn btn-outline-primary" @onclick="() => MessageComponent.Open()"><span class="oi oi-arrow-left"> Reply</span></button>
    </div>
</div>
<hr />
<div class="row mx-3">
    <div class="col-12">
        @Email.Message
    </div>
</div>
<MessageComponent @ref="MessageComponent" />

@code {
    [Parameter]
    public EmailModel Email { get; set; }
    private MessageComponent MessageComponent { get; set; }
}