@using EmailSystem.Domain.Models
@using EmailSystem.Domain.Interfaces
@inject IUserService _userService
<div class="list-group">
    @if (_emails.Count > 0)
    {
        @foreach (EmailModel email in _emails)
        {
            <EmailComponent Email="email"  />
        }
    } else { <p class="text-muted">No Emails to display</p>}
</div>

@code {
    [Parameter]
    public string UserEmail { get; set; }
    private ICollection<EmailModel> _emails = new List<EmailModel>();

    protected override void OnParametersSet()
    {
        _emails = _userService.GetReceivedMails(UserEmail);
    }

    // TODO: Create a select email method.

}
