@using EmailSystem.Domain.Models
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">@Email.Sender.Email</h5>
        <small>@Email.SentDate</small>
    </div>
    <p class="mb-1">Email Subject</p>
    <small>@Email.GetMessageTeaser()</small>
</a>


@code {
    [Parameter]
    public EmailModel Email { get; set; }
}
