<div class="row">
    <div class="col-1 pl-0 pr-2">
        <img src="/Images/profile_picture.svg" style="width:5.5rem" />
    </div>
    <div class="col-3 ">
        <h3>RecipentName</h3>
        <div>
            @("<EmailAddress@email.com>")
        </div>
        <div>
            <p class="text-muted text-secondary">For: Reciever@email.com</p>
        </div>
    </div>
</div>