@using EmailSystem.Domain.Models
<div class="row">
    <h1 class="display-5">Steven</h1>
</div>
<div class="row justify-content-between">
        
    <div class="col-9">
        <div class="row">
            <div class="col-1 pl-0 pr-2">
                <img src="/Images/profile_picture.svg" style="width:5.5rem" />
            </div>
            <div class="col-3 ">
                <div>
                    <p class="text-secondary">For: @email.Recipient.Email</p>
                </div>
                <div>
                    @email.Sender.Email
                </div>
                <div>
                    <p class="text-muted text-secondary">For: @email.Recipient.Email</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1">
        <button class="btn btn-outline-primary"><span class="oi oi-arrow-left"> Reply</span></button>
    </div>
</div>
<hr />
<div class="row mx-3">
    <div class="col-12">
        @Email.Message
    </div>
</div>
@*<MessageComponent @ref="MessageComponent" />*@

@code {
    [Parameter]
    public EmailModel Email { get; set; }
    private EmailModel email;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        email = Email;
    }
}