@using EmailSystem.Domain.Models
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start" @onclick="SelectEmail">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">@displayEmail.Sender.Email</h5>
        <small>@displayEmail.SentDate</small>
    </div>
    <p class="mb-1">@displayEmail.Subject</p>
    <small>@displayEmail.Message</small>
</a>


@code {
    [Parameter]
    public EmailModel Email { get; set; }
    [Parameter]
    public EventCallback<EmailModel> SelectedEmail { get; set; }

    private EmailModel displayEmail = new EmailModel();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        displayEmail = new EmailModel();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        displayEmail = Email;
    }

    private void SelectEmail()
    {
        SelectedEmail.InvokeAsync(Email);
    }
}
