@page "/"

@using Microsoft.AspNetCore.Identity
@using EmailSystem.Domain.Models
@using EmailSystem.Domain.Interfaces
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> _userManager
@inject IUserService _userService  

<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="col-3" id="email-overview">
                <EmailOverviewComponent UserEmail="@email" SelectedEmail="SelectEmail" />
            </div>
            <div class="col-9 px-5 pt-1">

                @if (selectedEmail != null)
                {
                    <EmailDetailComponent Email="selectedEmail" />
                }  

            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="justify-content-center align-content-center">
            <h1 class="text-center display-1 text-danger">Please login to view your emails.</h1>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string email = "";
    private EmailModel selectedEmail = null;

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        ApplicationUser user = null;
        if (authState.User.Identity.IsAuthenticated)
        {
            user = _userService.Read(authState.User.Identity.Name);
            email = user.Email;
        }
    }
    private void SelectEmail(EmailModel email)
    {
        selectedEmail = email;
    }
}

