

@page "/"

@using Microsoft.AspNetCore.Identity
@using EmailSystem.Domain.Models
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> _userManager

<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="col-3" id="email-overview">
                @email
                <EmailOverviewComponent UserEmail="@email" />
            </div>
            <div class="col-9 p-5">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SendEmailModal" @onclick="() => MessageComponent.Open()">
                    Send Email
                </button>

                @if (selectedEmail != null)
                {
                    <EmailDetailComponent Email="selectedEmail" />
                }
                else
                { <h1 class="display-4 text-muted">Select an email, to view the details.</h1>}
            </div>
            @if (selectedEmail != null)
            {
                // Need a way to pass argumets in here
            <MessageComponent @ref="MessageComponent" UserEmail="@email" />
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="justify-content-center align-content-center">
            <h1 class="text-center display-1 text-danger">Please login to view your emails.</h1>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string email = "";
    private EmailModel selectedEmail = null;
    private MessageComponent MessageComponent { get; set; }
    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        ApplicationUser user = null;
        if (authState.User.Identity.IsAuthenticated)
        {
            user = await _userManager.FindByNameAsync(authState.User.Identity.Name);
            email = user.Email;
        }
    }
}

